.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

/* グローバルナビ用*/

.navbar {
  padding: 8px 16px;
}

.container {
  max-width: 1140px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  color: #5CB85C;
  font-size: 1.5rem;
  margin-right: 2rem;
  font-weight: bold;
}

.nav-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-right li:not(:first-child) {
  margin-left: 20px;
}





/* Mobile
@media (max-width: 700px) {
  .content {
    padding: 4rem;
  }

  .grid {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    max-width: 320px;
    text-align: center;
  } */



/* Tablet and Smaller Desktop
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
} */
